<div>
  <div>
    <h1>
      List of all deliveries
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new delivery
    </h2>

    <form action="/insert_delivery" method="post">
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="arrival_date_box">
          Arrival date
        </label>

        <input type="date" id="arrival_date_box" name="query_arrival_date">
      </div>

      <div>
        <label for="carrier_box">
          Carrier
        </label>

        <input type="text" id="carrier_box" name="query_carrier">
      </div>

      <div>
        <label for="tracking_number_box">
          Tracking number
        </label>

        <input type="text" id="tracking_number_box" name="query_tracking_number">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status">
      </div>

      <button>
        Create delivery
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Description
        </th>

        <th>
          Arrival date
        </th>

        <th>
          Carrier
        </th>

        <th>
          Tracking number
        </th>

        <th>
          User
        </th>

        <th>
          Status
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_deliveries.each do |a_delivery| %>
      <tr>
        <td>
          <%= a_delivery.id %>
        </td>

        <td>
          <%= a_delivery.description %>
        </td>

        <td>
          <%= a_delivery.arrival_date %>
        </td>

        <td>
          <%= a_delivery.carrier %>
        </td>

        <td>
          <%= a_delivery.tracking_number %>
        </td>

        <td>
          <%= a_delivery.user_id %>
        </td>

        <td>
          <%= a_delivery.status %>
        </td>

        <td>
          <%= time_ago_in_words(a_delivery.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_delivery.updated_at) %> ago
        </td>

        <td>
          <a href="/deliveries/<%= a_delivery.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
