<div>
  <div>
    <h1>
      Delivery #<%= @the_delivery.id %> details
    </h1>

    <div>
      <div>
        <a href="/deliveries">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_delivery/<%= @the_delivery.id %>">
          Delete delivery
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Description
      </dt>
      <dd>
        <%= @the_delivery.description %>
      </dd>

      <dt>
        Arrival date
      </dt>
      <dd>
        <%= @the_delivery.arrival_date %>
      </dd>

      <dt>
        Carrier
      </dt>
      <dd>
        <%= @the_delivery.carrier %>
      </dd>

      <dt>
        Tracking number
      </dt>
      <dd>
        <%= @the_delivery.tracking_number %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_delivery.user_id %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_delivery.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_delivery.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_delivery.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit delivery
    </h2>

    <form action="/modify_delivery/<%= @the_delivery.id %>"  method="post" >
      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description" value="<%= @the_delivery.description %>">
      </div>

      <div>
        <label for="arrival_date_box">
          Arrival date
        </label>

        <input type="date" id="arrival_date_box" name="query_arrival_date" value="<%= @the_delivery.arrival_date %>">
      </div>

      <div>
        <label for="carrier_box">
          Carrier
        </label>

        <input type="text" id="carrier_box" name="query_carrier" value="<%= @the_delivery.carrier %>">
      </div>

      <div>
        <label for="tracking_number_box">
          Tracking number
        </label>

        <input type="text" id="tracking_number_box" name="query_tracking_number" value="<%= @the_delivery.tracking_number %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_delivery.user_id %>">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_delivery.status %>">
      </div>

      <button>
        Update delivery
      </button>
    </form>
  </div>
</div>

<hr>
